name: Build
on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: "ubuntu-24.04"
            rid: "linux-x64"
            linker: "clang-16"
            imagetype: ubuntu
          - os: "windows-latest"
            rid: "win-x64"
            imagetype: windows
          - os: "macos-14"
            rid: "osx-x64"
            imagetype: mac
    env:
      CppCompilerAndLinker: ${{ matrix.linker }}
    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            10.0.x
      - name: Test Solution
        run: dotnet test -c Release
      - name: Pack Solution
        run: dotnet pack 